{{ define "main" }}
  <main id="main">

  	<div class="container symposium-stream-container">

  		<div class="row topspace">

            <h1 class="section-title">{{ .Title }}</h1>

            <div class="info">
              <strong>Time</strong>:
              {{ .Params.time | markdownify }}
            </div>
            <div class="info">
              <strong>Location</strong>:
              {{ .Params.location }}
            </div>

            {{ with .Params.chair }}
            <div class="info">
              <strong>Chair</strong>:
              {{ $p := site.GetPage (printf "/team/%s" .) }}
              {{ if $p }}<a href="{{ $p.Permalink }}">{{ $p.Params.name }}</a>{{ else }}{{ . }}{{ end }}
            </div>
            {{ end }}


            <div class="session-info">This session will have talks from the following speakers:</div>

            <ol>
              {{ range .Params.speakers }}
              {{ $s := site.GetPage (printf "/symposium/speakers/%s" . ) }}
              <li><a href="#{{ $s.Title | urlize }}">
                {{ partial "names.html" $s.Params.name }}
                </a> <em>{{ $s.Title }}</em>
              </li>
              {{ end }}
            </ol>


            {{ range .Params.speakers }}

            <div class="speaker">
              {{ $s := site.GetPage (printf "/symposium/speakers/%s" . ) }}
              <div class="details">
                {{ with $s.Params.name }}
                  <p class="name">
                    {{ partial "names.html" . }}
                  </p>
                {{ end }}
                {{ with $s.Params.affiliation }}<p class="affiliation">{{ . }}</p>{{ end }}
                {{ if $s.Params.email_ok }}
                  {{ with $s.Params.email }}
                    {{ $email := . }}
                    <p class="email">
                      {{ if isset $email -1 }}
                        {{ delimit $email "<br>" }}
                      {{ else }}
                      {{ $email }}
                      {{ end }}
                    </p>
                    {{/*  <a href="mailto:{{.}}" class="email">{{ . }}</a>  */}}
                  {{ end }}
                {{ end }}
                {{ if now.After (time "2021-06-03") }}
                {{ with $s.Params.presentation }}
                    <p><a href="/symposium/speakers/{{ . }}" class="btn btn-primary">View Presentation</a></p>
                {{ end }}
                {{ end }}
              </div>
              <div class="abstract">
                <h3 id="{{ $s.Title | urlize }}">{{ $s.Title | markdownify }}</h3>
                <div class="keywords">
                  {{ range $s.Params.keywords }}
                  <span class="label label-primary">{{ . }}</span>
                  {{ end }}
                </div>
                <p>{{ $s.Content }}</p>
              </div>
            </div>
            {{ end }}

  		</div>
  	</div>	<!-- /container -->
  </main>
{{ end }}
