{{ define "main" }}
  <main id="main">

  	<div class="container">

  		<div class="row topspace event-container">

			{{ if eq .Params.type "index" }}

				<!-- Article main content -->
  			<article class="col-sm-8 col-sm-push-4 maincontent">
					{{ $fileurl := printf "%s/banner.png" (path.Dir .File) }}
					{{ $bannerimage := printf "%sbanner.png" .Permalink }}
					<header>
						{{ if (fileExists $fileurl) }}
							<img src="{{ $bannerimage }}" />
						{{ else }}
							<h2>{{.Title}}</h2>
							{{ with .Params.subtitle }}<h4>{{ . }}</h4>{{ end }}
						{{ end }}
					</header>

					{{ .Content }}


					{{ if .Params.programme }}
					<hr />
					<h3>Programme</h3>
					{{ if not .Params.timings_confirmed }}
					<p class="alert alert-warning">Note: timings are not yet confirmed.</p>
					{{ end }}
					<table class="programme">
						{{/*  <thead>
							<tr class="header">
								<th class="text-right">Time</th>
								{{ range .Params.rooms }}
								<th>{{ . }}</th>
								{{ end }}
							</tr>
						</thead>  */}}
						<tbody>
							{{ range .Params.programme }}
							<tr class="programme--{{.type}}">
								<td class="text-right">{{ dateFormat "3:04" .time }}</td>
								{{ if eq .type "talks" }}
								{{ range .names }}
								{{ $stream := site.GetPage (printf "/symposium_streams/%s" . ) }}
								<td>
									{{ if $stream }}
										<a href="{{ $stream.Permalink }}">{{ $stream.Title }}</a>
									{{ else }}{{ . }}{{ end }}
								</td>
								{{ end }}
								{{ else }}
								<td colspan="3">
									{{ if .name }}<strong>{{ .name }}</strong>
										{{ with .description }}
										<span class="separator-dot"></span>
										<span>{{ . }}</span>{{ end }}
									{{ end }}

									{{ with .title }}<h5>Topic: <em>"{{ . | markdownify }}"</em></h5>{{ end }}

									{{ with .speakers }}
									<div class="programme-speakers">
										{{ range . }}
										{{ partial "symposium-speaker.html" . }}
										{{ end }}
									</div>
									{{ end }}
								</td>
								{{ end }}
							</tr>
							{{ end }}
						</tbody>
					</table>
					{{ end }}


					{{/*  list over speakers  */}}
					{{ with .Params.speakers }}
					<hr />
					<h3>Invited Guests and Speakers</h3>
					<div class="speaker-list">
						{{ range sort . "weight" }}
						<div class="speaker-item">
							<img src={{ .photo }} alt="{{ .name }}" />
							<div class="speaker-details">
								<h5>{{ .name }}</h5>
								<p>{{ .affiliation }}</p>
							</div>
						</div>
						{{ end }}
					</div>
					{{ end }}


				</article>
				<!-- /Article -->

  			<!-- Sidebar -->
  			<aside class="col-sm-4 col-sm-pull-8 sidebar sidebar-right">

					<p class="date">{{ dateFormat "2 January 2006" .Date }}</p>
					{{ with .Params.location }}
					<p class="location">
						<i class="fas fa-map-marker-alt"></i>
						{{ . }}
					</p>
					{{ end }}

					{{ with .Params.time }}
					<p class="time">
						<i class="fas fa-clock"></i>
						{{ . | markdownify}}
					</p>
					{{ end }}

					{{ with .Params.cost }}
						<p class="cost">
							<i class="fas fa-dollar-sign"></i>
							{{ . }}
						</p>
					{{ end }}

					{{ with .Params.registration }}
						<p class="side-tag spaceabove">Registration</p>
						<p class="">{{ . }}</p>
					{{ end }}

					{{ with .Params.event_url }}
					{{ range .}}
						<a href="{{ .url }}" class="btn btn-primary">{{ .title }}</a>
					{{ end }}
					{{ end }}

					<hr />

					<ul class="list-unstyled">
						{{/*  <li><a href="keynotes">Keynotes</a></li>  */}}
						<li><a href="speakers">Speaker Biographies and Slides</a></li>
						{{/*  <li><a href="panel">Panel discussion</a></li>  */}}
					</ul>

					<hr />

					{{ with .Params.affiliations }}
					<p class="side-tag">Affiliations</p>
					<ul class="list-unstyled">
						{{ range . }}
						<li>{{ . }}</li>
						{{ end }}
					</ul>
					{{ end }}

					{{ with .Params.funding }}
					<p class="side-tag">In partnership with</p>
					<ul class="list-unstyled logo-list">
						{{ range .}}
						<li>
							{{ if .logo }}
							<img src="{{ .logo }}" alt="{{ .name }}"
								{{ with .class }}class="{{ . }}"{{ end }} />
							{{ end }}
						</li>
						{{ end }}
					</ul>
					{{ end }}

					{{ with .Params.important_dates}}
					<p class="side-tag">Important dates</p>
					<ul class="list-unstyled">
						{{ range . }}
						<li>
							<label>
								{{ if .all_day }}
									{{ dateFormat "02 Jan 2006" .date }}
								{{ else }}
									{{ dateFormat "02 Jan 2006, 3pm" .date }}
								{{ end }}
							</label>
							{{ .what }}
						</li>
						{{ end }}
					</ul>
					{{ end }}

  			</aside>
  			<!-- /Sidebar -->

			{{ else }}


			<article>
				<h1 class="section-title">{{ .Title | markdownify }}</h1>

				{{ .Content }}

				{{ range .Pages }}

				<div class="speaker-info">
					<div class="anchor" id="{{ .Page.File.TranslationBaseName }}"></div>

					<div class="speaker-photo">
						<img src={{ .Params.photo }} alt="{{ .Params.name }}" />
						{{ if fileExists (printf "static/symposium2023/%s.pdf" .Page.File.TranslationBaseName) }}
							<a href="/symposium2023/{{.Page.File.TranslationBaseName}}.pdf" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="link-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								Symposium slides (PDF)
							</a>
						{{ end }}
						{{ if fileExists (printf "static/workshop2023/%s.pdf" .Page.File.TranslationBaseName) }}
							<a href="/workshop2023/{{.Page.File.TranslationBaseName}}.pdf" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="link-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
								</svg>
								Workshop slides (PDF)
							</a>
						{{ end }}
					</div>

					<div class="speaker-bio">
						<h5>
							{{ .Title | markdownify }} {{ .Params.name }}
						</h5>

						{{ with .Params.affiliation }}
						<div class="affiliation">
							{{ . }}
						</div>
						{{ end }}
						{{ with .Params.link }}
						<div class="link">
							<a href="{{ . }}">{{ . }}</a>
						</div>
						{{ end }}
						{{ with .Params.links }}
						<div class="link">
						{{ range . }}
							<a href="{{ . }}">{{ . }}</a><br />
						{{ end }}
						</div>
						{{ end }}

						{{ with .Content }}
						<p>{{ . }}</p>
					</div>

					{{ end }}

					<hr />

				</div>
				{{ end }}



				{{/*
				{{ range .Params.videos }}
				{{ partial "youtube" . }}
				<hr />
				{{ end }}  */}}
			</article>

			{{ end }}




  		</div>
  	</div>	<!-- /container -->

  </main>
{{ end }}
