{{ define "main" }}
<main id="main">

  <div class="container topspace">
    <h2 class="section-title">
      <span>{{ .Title }}</span>
    </h2>
  </div>

	<div class="container topspace outputs">

    {{ range .Pages.GroupByDate "January 2006" }}

      <h4>{{ .Key }}</h4>
      {{ range .Pages }}
        <div class="list--content">
          <span class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </span>
          by
          {{ $authors := .Params.team }}
          {{ $authors := apply $authors "partial" "author-name-link" "." }}
          {{ $authors := apply $authors "chomp" "." }}
          <span class="authors">{{ delimit $authors ", " ", and " }}</span>.
        </div>
      {{ end }}
    {{ end }}

	</div>	<!-- /container -->

</main>
{{ end }}
