{{ define "main" }}
<main id="main">

  <div class="container topspace">
    <h2 class="section-title">
      <span>{{ .Title }}</span>
    </h2>
  </div>

	<div class="container topspace outputs">

    {{ $futurepages := where .Pages ".Date" "gt" now  }}

    {{ if $futurepages }}
      <h4>In progress</h4>
      {{ range sort $futurepages ".Date" "asc" }}
      <div class="list--content">
        <span class="title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </span>
        by
        {{ $authors := .Params.team }}
        {{ $authors := apply $authors "partial" "author-name-link" "." }}
        {{ $authors := apply $authors "chomp" "." }}
        <span class="authors">{{ delimit $authors ", " ", and " }}</span>.
      </div>
      {{ end }}
    {{ end }}

    {{ $all_pages := where .Pages ".Date" "le" now }}
    {{ $pages := where $all_pages ".Params.mbie_funded" "=" true}}
    {{ range $pages.GroupByDate "2006" }}
      <h4>{{ .Key }}</h4>
      {{ range .Pages }}
        <div class="list--content">
          <span class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </span>
          by
          {{ $authors := .Params.team }}
          {{ $authors := apply $authors "partial" "author-name-link" "." }}
          {{ $authors := apply $authors "chomp" "." }}
          <span class="authors">{{ delimit $authors ", " ", and " }}</span>.
        </div>
      {{ end }}
    {{ end }}


    <hr class="topspace" />

    <div class="topspace">
      <h2 class="text-center">
        <span>Related research by programme researchers</span>
      </h2>
    </div>

    {{ $pages := where $all_pages ".Params.mbie_funded" "=" false}}
    {{ range $pages.GroupByDate "2006" }}
      <h4>{{ .Key }}</h4>
      {{ range .Pages }}
        <div class="list--content">
          <span class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </span>
          by
          {{ $authors := .Params.team }}
          {{ $authors := apply $authors "partial" "author-name-link" "." }}
          {{ $authors := apply $authors "chomp" "." }}
          <span class="authors">{{ delimit $authors ", " ", and " }}</span>.
        </div>
      {{ end }}
    {{ end }}

	</div>	<!-- /container -->

</main>
{{ end }}
