{{ define "main" }}
  <main id="main">

  	<div class="container">

  		<div class="row topspace output-container">

  			<!-- Sidebar -->
  			<aside class="col-sm-4 col-md-5 sidebar sidebar-right">

          <p class="date text-right">{{ dateFormat "2 January 2006" .Date }}</p>

          {{ with .Params.tags }}
            <p class="tags text-right">
            {{ range . }}
              <a href="/tags/{{ . | urlize }}" class="label label-primary">{{ . }}</a>
            {{ end}}
            </p>
          {{ end }}

          {{ $team := "team" }}
          {{ with .Param $team }}
            <p class="side-tag text-right">Authors</p>
            <ul class="list-unstyled text-right">
              {{ range $index, $member := . }}
                {{ $page := $.Site.GetPage (printf "/%s/%s" $team $member) }}
                {{ if $page }}
                  {{ with $page }}<li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>{{ end }}
                {{ else }}
                  <li>{{ $member | replaceRE "[\\^]([0-9]+)" "<sup>$1</sup>" | safeHTML }}</li>
                {{ end }}
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.affiliations }}
          <p class="side-tag text-right">Affiliations</p>
          <ul class="list-unstyled text-right">
            {{ range . }}
            <li>{{ . | replaceRE "(.+)[\\^]([0-9]+)" "<sup>$2</sup>$1" | safeHTML }}</li>
            {{ end }}
          </ul>
          {{ end }}
  			</aside>
  			<!-- /Sidebar -->

  			<!-- Article main content -->
  			<article class="col-sm-8 col-md-7 maincontent">
          <header>
            <h2>{{.Title}}</h2>
          </header>

          {{ with .Params.description }}
            <p class="lead">{{ . }}</p>
          {{ end }}

          {{ .Content }}


          {{ with .Params.files }}
          <p class="side-tag">Files</p>
            <ul class="list-unstyled">
              {{ range . }}
                <a href="../{{ replaceRE " " "%20" . }}">{{ . }}</a>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.links }}
          <p class="side-tag">Links</p>
            <ul class="list-unstyled">
              {{ range . }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>
          {{ end }}


  			</article>
  			<!-- /Article -->


  		</div>
  	</div>	<!-- /container -->

  </main>
{{ end }}
