{{ define "main" }}
  <main id="main">

  	<div class="container">

  		<div class="row topspace output-container">

        <!-- Article main content -->
  			<article class="col-sm-8 col-md-7 col-sm-push-4 col-md-push-5 maincontent">
          <header>
            <h2>{{.Title}}</h2>
          </header>

          {{ with .Params.description }}
            <p class="lead">{{ . }}</p>
          {{ end }}

          {{ .Content }}

          {{ with .Params.files }}
          <p class="side-tag">Files</p>
            <ul class="list-unstyled">
              {{ range . }}
                <a href="../{{ replaceRE " " "%20" .path }}">{{ .title }}</a>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.links }}
          <p class="side-tag">Links</p>
            <ul class="list-unstyled">
              {{ range . }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.citation }}
            {{ . | markdownify }}
          {{ end }}


  			</article>
  			<!-- /Article -->

  			<!-- Sidebar -->
  			<aside class="col-sm-4 col-md-5 col-sm-pull-8 col-md-pull-7 sidebar sidebar-right">

          <p class="date">
            {{ if gt .Date.Unix now.Unix }}
              <em>Work in Progress</em>
            {{ else }}
            {{ dateFormat "January 2006" .Date }}
            {{ end }}
          </p>

          {{ with .Params.tags }}
            <p class="tags">
            {{ range . }}
              <a href="/tags/{{ . | urlize }}" class="label label-primary">{{ . }}</a>
            {{ end}}
            </p>
          {{ end }}

          {{ $team := "team" }}
          {{ with .Param $team }}
            <p class="side-tag">Authors</p>
            <ul class="list-unstyled">
              {{ range $index, $member := . }}
                {{ $page := $.Site.GetPage (printf "/%s/%s" $team $member) }}
                {{ if $page }}
                  {{ with $page }}<li><a href="{{ .Permalink }}">{{ .Params.name }}</a></li>{{ end }}
                {{ else }}
                  <li>{{ $member | replaceRE "[\\^]([0-9]+)" "<sup>$1</sup>" | safeHTML }}</li>
                {{ end }}
              {{ end }}
            </ul>
          {{ end }}

          {{ with .Params.affiliations }}
          <p class="side-tag">Affiliations</p>
          <ul class="list-unstyled">
            {{ range . }}
            <li>{{ . | replaceRE "(.+)[\\^]([0-9]+)" "<sup>$2</sup>$1" | safeHTML }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ with .Params.doi }}
          <p class="side-tag">DOI:
            <a href="https://doi.org/{{ . }}">{{ . }}</a>
          </p>
          {{ end }}


          {{ with .Params.isbn }}
          <p class="side-tag">ISBN:
            {{ . }}
          </p>
          {{ end }}
  			</aside>
  			<!-- /Sidebar -->


        {{ if .Params.iframe_content }}
        <div class="iframe-content">
          <iframe src={{ .Params.iframe_content }}
            height="{{ .Params.iframe_height | default 500 }}px"
          >
          </iframe>
        </div>
        {{ end }}

  		</div>
  	</div>	<!-- /container -->

  </main>
{{ end }}
