// header
.btn {
  font-family: inherit !important;
  font-weight: bold;
}
#head {
  .title, .tagline {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
  .title:hover {
    opacity: 0.9;
  }
  .tagline {
    font-size: 0.5em;
    font-style: italic;
  }
}
#logo {
  img {
    filter: invert(100%);
    border: none;
    width: auto;
    height: auto;
  }
}

.section-subtitle {
  margin-bottom: 1em;
}


// team list

.team-members {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  // flex-wrap: wrap;
  // align-items: flex-start;
  justify-content: center;
  justify-items: center;
  max-width: 998px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  };
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  };

  &::before {
    content: none;
  };

}

article.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  width: 250px;
  text-align: center;

  .img-hover-zoom {
    height: 150px;
    width: 150px;
    overflow: hidden;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 13px 3px rgba(0,0,0,0);
    border: {
      radius: 50%;
      width: 3px;
      style: solid;
      color: #222;
    }
    background: black;
    img {
      transition: transform 1s ease, opacity 0.6s ease-out;
      min-height: 100%;
      min-width: 100%;
      &.image-unloaded {
        opacity: 0;
      }
    }
    &:hover img {
      transform: scale(1.05);
    }
  }
  &.affiliate .img-hover-zoom {
    height: 100px;
    width: 100px;
  }

  .name {
    font-weight: bold;
    margin-top: 1em;
  }
  .affiliate-role {
    font-size: 0.8em;
  }
  .email {
    font-size: 0.9em;
  }
}

.team-term-container {
  .sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      margin-bottom: 1em;
    }
  }

  .user-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 13px 3px rgba(0,0,0,0);
    border: {
      radius: 50%;
      width: 3px;
      style: solid;
      color: #222;
    }
    margin-bottom: 3em;

    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
}


// event list (on home page)

.event {
  margin-bottom: 2em;
  .date {
    display: block;
    background: rgb(62, 141, 10);
    color: white;
    width: 150px;
    height: 150px;
    // border-radius: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .date-day {
      font-size: 50px;
      line-height: 1;
    }
    .date-month {
      font-size: 25px ;
      text-transform: uppercase;
    }
    .date-year {
      font-size: 25px;
    }
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    font-style: italic;
  }
  .location, .cost {
    font-weight: bold;
    // margin-bottom: 1em;
  }
}

@media screen and (max-width: 992px) {
  .event {
    margin: 1em;
    .date {
      width: auto;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      height: auto;
      padding: 0.5em 1em;

      .date-day {
        padding-right: 10px;
      }
      .date-month {
        padding-right: 15px;
      }
    }
  }
}

.event-container {
  header {
    h2 {
      margin: 0;
    }
    h4 {
      font-style: italic;
    }
    margin-bottom: 2em;
  }
  .nav-side>li>a {
    padding-right: 0;
  }
  .sidebar {
    padding-right: 15px;
    a.btn {
      display: block;
      padding: 10px auto;
      line-height: 1;
      margin: 20px auto;
      font-weight: bold;
    }
  }
  .date {
    // text-align: right;
    // padding: 0 15px;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .location, .cost, .time {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // justify-content: flex-end;
    font-weight: bold;
    // text-align: right;
    // padding: 0 15px;
    font-size: 0.85em;
    margin-bottom: 0.5em;

    svg {
      margin-right: 0.8em;
    }
  }

  .register {
    text-align: right;
  }
  .spaceabove {
    margin-top: 2em;
  }

  .side-tag {
    margin-bottom: 0;
    font-weight: bold;
    // padding: 0 15px;
  }

}


/* RESEARCH OUTPUTS  */

.list--content {
  margin-bottom: 1em;
  .title {
    display: block;
    font-weight: bold;
  }
}
.author-name {
  font-style: italic;
}

.output-container {
  .date {
    // text-align: right;
    // padding: 0 15px;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .side-tag {
    margin-bottom: 0;
    font-weight: bold;
  }
  h2 {
    margin-top: 0;
  }
  .authors {
    margin-bottom: 1.5em;
    p {
      margin: 0;
    }
  }
}

/* SECTIONS */

.sidebar {
  li > label {
    display: block;
    font-size: 0.9em;
    margin: 0.5em 0 0;
  }
}


.programme {
  width: 100%;
  table-layout: fixed;

  td, th {
    padding: 0.2em 1em;
  }
  td:nth-child(1),
  th:nth-child(1) {
    width: 6em;
  }

  tr.programme--interval {
    background: gray;
    color: white;
    font-weight: bold;
  }
  tr.programme--break {
    background: lightgray;
    font-weight: bold;
  }
  tr.programme--keynote {
    background: rgb(203, 232, 241);
  }
  tr.programme--panel {
    background: rgb(246, 227, 214);
  }
  tr.programme--talks {
    height: 5em;
    vertical-align: top;
  }
}

.logo-list img {
  margin: 5px auto;
  max-height: 60px;
}

img.dark-bg {
  background: #232323;
  padding: 10px;
}

.symposium-stream-container {
  padding: 2em;

  .info {
    margin-bottom: 0.5em;
  }

  .session-info {
    margin: 2em 0 0.5em;
  }

  .speaker {
    display: flex;
    border-bottom: solid 1px lightgray;
    margin-bottom: 2em;

    .details {
      min-width: 30%;
      text-align: center;
      p {
        margin: 0.5em;
      }

      .name {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 1em;
      }
    }

    .abstract {
      h3 {
        margin: 0.5em 0;
      }

      .keywords {
        line-height: 2em;
      }
    }

    @media (max-width: 999px) {
      flex-direction: column;
    }
    @media (min-width: 1000px) {
      .details {
        margin-right: 2em;
        text-align: right;
      }
    }

  }
}

.iframe-content {
  width: 100%;

  iframe {
    width: 100%;
    // height: 500px;
  }
}

.speaker-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 2em 1em;

  .speaker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // 1em gap
    gap: 1em;
    width: 100%;
  }

  .speaker-item img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    // cover;
    object-fit: cover;
  }

  .speaker-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5 {
      margin: 0;
    }
  }

  @media (min-width: 600px) {
    justify-content: flex-start;

    .speaker-item {
      flex-direction: row;
      justify-content: flex-start;
    }
    .speaker-details {
      align-items: flex-start;
    }
  }
}

.speaker-info {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  .speaker-photo {
    max-width: 14em;
    text-align: right;
  }

  .speaker-bio {
    flex: 1;

    h5 {
      margin: 0;
    }
  }

  @media screen and (min-width: 840px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4em;

    .speaker-photo {
      width: 16em;
    }
  }
}
