{{ define "main"}}
  <main id="main">

    <div class="container">

      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <header class="entry-header">
            <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
         </header>
           <article class="post">
            <div class="entry-content">
              {{ .Content }}
            </div>
          </article><!-- #post-## -->

        </div>
      </div> <!-- /row post  -->

      <!-- Upcoming events -->
      {{ if .Params.show_upcoming }}
      <div class="row section featured topspace">
        <h2 class="section-title">
          <span>Upcoming events</span>
        </h2>

        {{ $events := where .Site.RegularPages "Section" "events" }}
        {{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
        <div class="row">
          {{ range $events.ByDate }}
            <div class="col-sm-6 col-md-3">
              <h3 class="text-center">{{ .Title }}</h3>
              <p class="date">{{ dateFormat "Monday 2 Jan, 2006" .Date }}</p>

              <p>{{ .Summary }}</p>
              <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Details</a></p>
            </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

  	</div>	<!-- /container -->
  </main>

{{ end }}