{{ define "main"}}
  <main id="main">

    <div class="container">

      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <header class="entry-header">
            <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
         </header>
           <article class="post">
            <div class="entry-content">
              {{ .Content }}
            </div>
          </article><!-- #post-## -->

        </div>
      </div> <!-- /row post  -->

      <!-- Upcoming events -->
      {{ if .Params.show_upcoming }}
      {{ $events := where .Site.RegularPages "Section" "events" }}
      {{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
      {{ if $events }}
      <div class="row section featured topspace">
        <h2 class="section-title">
          <span>Upcoming events</span>
        </h2>

        {{ range $events.ByDate }}
        <div class="row event">
          <div class="col-md-2">
            <div class="date">
              <div class="date-day">{{ dateFormat "2" .Date }}</div>
              <div class="date-month">{{ dateFormat "January" .Date }}</div>
              <div class="date-year">{{ dateFormat "2006" .Date }}</div>
            </div>
          </div>
          <div class="col-md-10">
            <h3>{{ .Title }}</h3>
            <div class="location">{{ .Params.location }}</div>
            <p class="info">{{ .Params.description }}</p>

            <div class="buttons text-right">
              <a href="{{ .Permalink }}" class="btn btn-info">More</a>
              {{ with .Params.event_url }}<a href="{{ . }}" class="btn btn-primary">Register</a>{{ end }}
            </div>
          </div>
        </div>
        {{ end }}

        <!-- <div class="row">
          {{ range $events.ByDate }}
            <div class="col-sm-6 col-md-3">
              <h3 class="text-center">{{ .Title }}</h3>
              <p class="date">{{ dateFormat "Monday 2 Jan, 2006" .Date }}</p>

              <p>{{ .Summary }}</p>
              <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Details</a></p>
            </div>
          {{ end }}
        </div> -->
      </div>
      {{ end }}
      {{ end }}

      {{/*  <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-7">
          <a class="twitter-timeline" data-theme="light" href="https://twitter.com/terourou?ref_src=twsrc%5Etfw">Tweets by terourou</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>  */}}

  	</div>	<!-- /container -->
  </main>

{{ end }}
