{{ define "main" }}
<main id="main">

  <h2 class="section-title">
    Our Team
  </h2>

	<div class="container">
		<div class="row">
			{{ range .Pages.GroupBy "Weight" }}
			{{ range sort .Pages ".Params.name" }}
				<div class="col-xs-6 col-md-3">
					<article class="person">
						<div class="img-hover-zoom">
							{{ $userimage := printf "/team/%s.jpg" .File.BaseFileName }}
							{{ $image := cond (fileExists $userimage) $userimage "/img/placeholder.jpg" }}
							<img src="{{ .Params.image | default $image }}" alt="{{ .Params.name }}">
						</div>
						<span class="name">{{ .Params.name }}</span>
						<span class="role">{{ .Params.role }}</span>
						<a class="email" href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
					</article>
				</div>
			{{ end }}
			{{ end }}
		</div>

	</div>	<!-- /container -->

</main>
{{ end }}
