{{ define "main" }}
<main id="main">

	<script>
		window.fadeIn = function(obj) {
			obj.className = "";
			// obj.removeAttributes('class');
		}
	</script>

	<div class="container topspace">
		<h2 class="section-title topspace">
			<span>{{ .Title }}</span>
		</h2>

		<p>{{ .Content }}</p>
	</div>

	<div class=" topspace team-members">
		<!-- <div class="row"> -->
			{{ range .Pages.GroupBy "Weight" }}
			{{ $pages := sort .Pages ".Params.name" }}
			{{ $pages := where $pages ".Params.affiliate_role" "=" nil }}
			{{ range $pages }}
				{{ if .Params.name }}
				{{ if in .Params.role "Student" }}
				{{ else }}
					<article class="person">
						<div class="img-hover-zoom">
							{{ $userimage := printf "/team/%s/photo.jpg" .Data.Term }}
							{{ $image := cond (fileExists $userimage) $userimage "/img/placeholder.jpg" }}
							<img src="{{ .Params.image | default $image }}" alt="{{ .Params.name }}"
								class="image-unloaded"
								onload="fadeIn(this)"
							/>
						</div>
						<span class="name"><a href="{{ .Permalink }}" >{{ .Params.name }}</a></span>
						<span class="role">{{ .Params.role }}</span>
						<a class="email" href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
					</article>
				{{ end }}
				{{ end }}
			{{ end }}
			{{ end }}
		<!-- </div> -->
	</div>	<!-- /container -->



	<div class="container topspace">
		<h3 class="section-title">
			<span>Students</span>
		</h3>
	</div>

	<div class="container topspace team-members">
		<!-- <div class="row"> -->
			{{ range .Pages.GroupBy "Weight" }}
			{{ $pages := sort .Pages ".Params.name" }}
			{{ $pages := where $pages ".Params.affiliate_role" "=" nil }}
			{{ range $pages }}
				{{ if .Params.name }}
				{{ if in .Params.role "Student" }}
					<article class="person">
						<div class="img-hover-zoom">
							{{ $userimage := printf "/team/%s/photo.jpg" .Data.Term }}
							{{ $image := cond (fileExists $userimage) $userimage "/img/placeholder.jpg" }}
							<img src="{{ .Params.image | default $image }}" alt="{{ .Params.name }}"
								class="image-unloaded"
								onload="fadeIn(this)"
							/>
						</div>
						<span class="name"><a href="{{ .Permalink }}" >{{ .Params.name }}</a></span>
						<span class="role">{{ .Params.role }}</span>
						<a class="email" href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
					</article>
				{{ end }}
				{{ end }}
			{{ end }}
			{{ end }}
		<!-- </div> -->
	</div>	<!-- /container -->


	<div class="container topspace">
		<h3 class="section-title">
			<span>Affiliates</span>
		</h3>
	</div>

	<div class="container team-members">
		<!-- <div class="row"> -->
			{{ range .Pages.GroupBy "Weight" }}
			{{ $pages := sort .Pages ".Params.name" }}
			{{ range where $pages ".Params.affiliate_role" "!=" nil }}
				{{ if .Params.name }}
					<article class="person affiliate">
						<div class="img-hover-zoom">
							{{ $userimage := printf "/team/%s/photo.jpg" .Data.Term }}
							{{ $image := cond (fileExists $userimage) $userimage "/img/placeholder.jpg" }}
							<img src="{{ .Params.image | default $image }}" alt="{{ .Params.name }}"
								class="image-unloaded"
								onload="fadeIn(this)"
							/>
						</div>
						<span class="name">{{ .Params.name }}</span>
						<span class="affiliate-role">
							{{ if ne .Params.affiliate_role "" }}({{ .Params.affiliate_role }}){{ else }}<br>{{ end }}
						</span>
						<span class="role">{{ .Params.role }}</span>
						<a class="email" href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
					</article>
				{{ end }}
			{{ end }}
			{{ end }}
		<!-- </div> -->
	</div>	<!-- /container -->
</main>
{{ end }}
