{{ define "main" }}
  <main id="main">

  	<div class="container team-term-container">

  		<div class="row topspace">

  			<!-- Sidebar -->
  			<aside class="col-sm-4 sidebar sidebar-right">

                <div class="user-image">
                    {{ $userimage := printf "/team/%s/photo.jpg" .Data.Term }}
                    {{ $image := cond (fileExists $userimage) $userimage "/img/placeholder.jpg" }}
                    <img src="{{ .Params.image | default $image }}" alt="{{ .Params.name }}">
                </div>

  				<div class="nav text-right nav-side">
  					<li class="active"><a href="#">{{ .Params.name }}</a></li>
  				</div>

                <p class="role">{{ .Params.role }}</p>
                <p class="location">{{ replace .Params.affiliation "," "<br/>" | safeHTML }}</p>
                <p class="email">
                    {{ partial "email" .Params.email }}
                </p>
                {{ with .Params.website }}
                <p class="website">
                    <a href="{{ . }}"><i class="fas fa-link fa-1x"></i> Website</a>
                </p>
                {{ end }}

                {{ with .Params.linkedin }}
                <p class="website">
                    <a href="{{ . }}" target="_blank"><i class="fab fa-linkedin fa-1x"></i> Linked-in</a>
                </p>
                {{ end }}

  			</aside>
  			<!-- /Sidebar -->

  			<!-- Article main content -->
  			<article class="col-sm-8 maincontent">
                {{ with .Content }}
                    <p class="profile">{{ . }}</p>
                {{ end }}

                {{ $engagements := where .Pages "Type" "=" "engagements"}}
                {{ with $engagements }}
                    <hr />

                    <h5>Engagements</h5>

                    {{ range . }}
                    <div style="margin-bottom: 1em">{{ .Title }} &mdash; <em>{{ .Params.position }}</em></div>
                    {{ end }}
                {{ end }}


                {{ $outputs := where .Pages "Type" "=" "outputs" }}
                {{ with $outputs }}
                    <hr />

                    <h5>Impacts / Research Outputs</h5>
                    {{ range . }}
                        <div class="row">
                            <div class="col-sm-2 col-md-2 list--date">
                                {{ if gt .Date.Unix now.Unix}}
                                    TBA
                                {{ else }}
                                {{ dateFormat "02/01/2006" .Date }}
                                {{ end }}
                            </div>
                            <div class="col-sm-10 col-md-10 list--content">
                                <span class="title">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </span>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
  			</article>
  			<!-- /Article -->


  		</div>
  	</div>	<!-- /container -->
  </main>
{{ end }}
