<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    {{ partial "head/head.html" . }}

    {{ block "head" . }}
    {{ end }}
  </head>

  <body>
    <div class="site--container">
      {{ block "header" . }}
        {{ partial "head/header.html" . }}
      {{ end }}

      <div class="site--main">
        {{ block "main" . }}
        {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer/footer.html" . }}
      {{ end }}
    </div>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//ec2-3-104-45-196.ap-southeast-2.compute.amazonaws.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </body>

  {{ block "foot" . }}
  {{ end }}

</html>
